#Estructura de datos Python

##strings

In [ ]:
micadena = "hola mundo"
print(micadena[::])

hola mundo

###Inmutabilidad de los strings

In [ ]:
name = "Pam"
name[0] = "S"

TypeError: 'str' object does not support item assignment

In [ ]:
name2 = name[1:]
print(name + "A")
name[0:]

PamA

'Pam'

In [ ]:
print(name)

am

In [ ]:
print(name*10)

name = name.upper

amamamamamamamamamam

In [ ]:
name = name.upper()
print(name)

AM

In [ ]:
x = "hola mundo"
x = x.split("o")
print(x)

['h', 'la mund', '']

###Formatos de impresion
####1funcion format

In [ ]:
print("esta {} una {} de {}".format("TEXTO", "cadena", "hola"))

esta TEXTO una cadena de hola

In [ ]:
resultados = 100/888
print("Los resultados son {r:1.3f} ".format(r=resultados))

Los resultados son 0.113

####F String

In [ ]:
nombre= "Alejandro"
edad= 25
print(f"el nombre es {nombre} y la edad es {edad}")

el nombre es Alejandro y la edad es 25

##listas

In [ ]:
mi_lista=['uno','dos','tres']
otra_lista=[1,2,3]
nueva_lista = mi_lista + otra_lista
print(nueva_lista)

['uno', 'dos', 'tres', 1, 2, 3]

In [ ]:
nueva_lista.pop(4)
print(nueva_lista)

['uno', 'dos', 'tres', 1]

In [ ]:
item_popeado = nueva_lista.pop(2)
print(item_popeado)
print(nueva_lista)

1
['uno', 'dos']

In [ ]:
mi_lista=['a','z','x']
mi_lista2 = [4, 5 ,7 ,3]
mi_lista.sort()
mi_lista2.reverse()
print(mi_lista)
print(mi_lista2)

['a', 'x', 'z']
[3, 7, 5, 4]

### ejercicios listas

In [ ]:
#ejercicios
#Crea una lista con los números del 1 al 10.
nueva_lista = list(range(1,11))
print(nueva_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Imprime los elementos de la lista en orden inverso.
nueva_lista.reverse()
print(nueva_lista)

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#suma todos los elementos de la lista
suma = sum(nueva_lista)
print(suma)

52

In [ ]:
#encuentra el elemento mas grande de la lista
maximo = max(nueva_lista)
print(maximo)

10

In [ ]:
#elimina el ultimo elemento de la lista
nueva_lista.pop(-1)
print(nueva_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Intermedio

In [ ]:
#Crea una lista con los nombres de tus amigos.
amigos = ['Ale', 'Fab', 'Meli', 'Brayan']
print(amigos)
#Ordena la lista de nombres alfabéticamente.
amigos.sort()
print(amigos)
#Itera sobre la lista de nombres e imprime cada nombre con un saludo.
for i in amigos:
  print(f"Hola {i}")
print("-- saludos completos--")
#Crea una lista con los números pares del 1 al 20.
#1
num_pares = []
for i in range(1,21):
  if i%2 == 0:
    num_pares.append(i)
print(num_pares)
#2 list comprehension
num_pares = [i for i in range(1,21) if i%2 ==0 ]
print(num_pares)

#filtra la lista de nombres para obtener solo los nombres que empiezan por una vocal
amigos_con_vocal = [i for i in amigos if i.startswith(('A','E', 'I', 'O', 'U'))]
print(amigos_con_vocal)

['Ale', 'Fab', 'Meli', 'Brayan']
['Ale', 'Brayan', 'Fab', 'Meli']
Hola Ale
Hola Brayan
Hola Fab
Hola Meli
-- saludos completos--
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
['Ale']

Avanzado

In [ ]:
#Crea una lista con los números del 1 al 100 ??????
lista_1_100 = list(range(1,101))
print(lista_1_100)

#Elimina todos los múltiplos de 3 de la lista.
lista_1_100 = [i for i in lista_1_100 if i % 3 != 0]# i%3 !=0 nos indica que no tiene residuo despues de dividirlo entre 3
print(lista_1_100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

##Diccionarios.

In [ ]:
mi_diccionario ={'llave':'valor', 'llave2':'valor2'}
print(f"mi diccionario es{mi_diccionario}")
print(mi_diccionario['llave'])

mi diccionario es{'llave': 'valor', 'llave2': 'valor2'}
valor

In [ ]:
mi_diccionario ={'manzana':'2.90', 'leche':'4.20'}
print(f"mi diccionario es{mi_diccionario}")
print(f"el precio de la leche es:  {mi_diccionario['leche']}")

mi diccionario es{'manzana': '2.90', 'leche': '4.20'}
el precio de la leche es:  4.20

In [ ]:
mi_diccionario ={'manzana':'2.90','keke':['manzana', 'naranja', 'chocolate'], 'leche':'4.20'}
#Escoge el segundo keke y cambialo a mayusculas
print(f"el sabor del keke es :  {mi_diccionario['keke'][1].upper()}")

el sabor del keke es :  NARANJA

In [ ]:
mi_diccionario = {'manzana':'2.90','keke':['manzana', 'naranja', 'chocolate'], 'leche':'4.20'}
#añade un par llave valor al diccionario
mi_diccionario['gaseosa'] = 5.90
print(mi_diccionario)

{'manzana': '2.90', 'keke': ['manzana', 'naranja', 'chocolate'], 'leche': '4.20', 'gaseosa': 5.9}

In [ ]:
#eliminar una llave:valor
del mi_diccionario["leche"]
print(mi_diccionario)

{'manzana': '2.90', 'keke': ['manzana', 'naranja', 'chocolate'], 'gaseosa': 5.9}

In [ ]:
#Como imprimo los valores de .keys() o values() ?
llaves = mi_diccionario.keys()
print(llaves)

print(mi_diccionario.values())

dict_keys(['manzana', 'keke', 'gaseosa'])
dict_values(['2.90', ['manzana', 'naranja', 'chocolate'], 5.9])

In [ ]:
for i in mi_diccionario:
  print(i, mi_diccionario[i])

manzana 2.90
keke ['manzana', 'naranja', 'chocolate']
gaseosa 5.9

In [ ]:
llaves_dic = [i for i in mi_diccionario.keys()]
print(llaves_dic)

['manzana', 'keke', 'gaseosa']

Ejercicio diccionario bootcamp

In [ ]:
#Tienes un diccionario con frutas y su cantidad
caja_de_frutas = {"Manzanas": 1, "Naranjas": 2, "Peras": 3}
print(f"La caja de frutas contiene: {caja_de_frutas}")
#añadir 3 mangos
caja_de_frutas ["Mangos"] = 3
print(f"La caja de frutas contiene: {caja_de_frutas}")
#actualizar la cantidad de manzanas a 4
caja_de_frutas ["Manzanas"] = 4
print(f"La caja de frutas contiene: {caja_de_frutas}")
#Eliminar peras del diccionario
del caja_de_frutas ["Peras"]
print(f"La caja de frutas contiene: {caja_de_frutas}")
#Acceder y almacenar en una variable la cantidad de naranjas
q_naranjas = caja_de_frutas["Naranjas"]
print(f"hay {q_naranjas} naranjas")

La caja de frutas contiene: {'Manzanas': 1, 'Naranjas': 2, 'Peras': 3}
La caja de frutas contiene: {'Manzanas': 1, 'Naranjas': 2, 'Peras': 3, 'Mangos': 3}
La caja de frutas contiene: {'Manzanas': 4, 'Naranjas': 2, 'Peras': 3, 'Mangos': 3}
La caja de frutas contiene: {'Manzanas': 4, 'Naranjas': 2, 'Mangos': 3}
hay 2 naranjas

##TUPLAS
es inmutable a diferencia de las listas

In [ ]:
t =  (1,2,3,1,1)

lista = [1,2,3,1,1]
print(type(lista))
print(type(t))
print(t[0:2])
#metodos de tuplas
print(t.count(1))
print(t.index(3))

#inmutabilidad

<class 'list'>
<class 'tuple'>
(1, 2)
3
2

In [ ]:
#inmutabilidad
lista[0] = "nuevo"
t[0] = "nuevo"

TypeError: 'tuple' object does not support item assignment

##SET
coleccion **unica **y desordenada de elementos

In [ ]:
mi_set = set()
#agregar objetos a set
mi_set.add(2)
mi_set.add(1)
print(mi_set)

{1, 2}

In [ ]:
#usar set para obtener valores unicos de una lista
milista=[1,1,1,1,2,3,4,5,6,2,3,5,4,6,7,8]

print(set(milista))

{1, 2, 3, 4, 5, 6, 7, 8}

##BOOLEANOS (BOL)
Verdadero = 0 = True
Falso= 1 = False
True y False son case sensitive

In [ ]:
print(1>2)
print(2==2)

False
True

##Comparadores de operaciones y comparadores logicos



*   OPERACIONES : == igualdad , != desigualdad,">" mayor que, < menor que, >= , <=
*   LOGICOS : and , or , not

In [ ]:
1 < 2
1 > 3 or 1 == 1

True

In [ ]:
2+4 > 3-1

True

In [ ]:
"y" == "y" and 3+4 == 2+5

True

In [ ]:
not 1 == 1

False

In [ ]:
 not 300 > 6000

True

# DECLARACIONES


1.   If
2.   Elif
3.   Else

In [ ]:
#Sintaxis
if se_cumple_condicion:
  #ejecutamos este codigo
elif no_se_cumplio_la_condicion_anterior:
  #ejecutamos algo distinto
else:#si no se cumple ninguna
  #hacer algo mas

In [ ]:
if True:
  print(True)

True

In [ ]:
hambre = True

if hambre:
  print("Tenemos hambre")

Tenemos hambre

In [ ]:
hambre = False

if hambre:
  print("Tenemos hambre")
else:
  print("estamos llenos")

estamos llenos

In [ ]:
hambre = True
sed = True

if hambre and not sed:
  print("Tenemos hambre")
elif hambre and sed:
  print("tenemos hambre y sed")
else:
  print("estamos llenos")

tenemos hambre y sed

#CICLOS FOR
ciclo iterativo sobre un bloque de código

In [ ]:
#Sintaxis
lista_iterable = [1,2,3]

for nombre_item in lista_iterable
  print(elemento_lista)

In [ ]:
milista = [1,2,3,4,5,6,7,8,9,10]
for numero in milista:
  print(numero, end="")

12345678910

In [ ]:
milista = [1,2,3,4,5,6,7,8,9,10]
for i in milista:
  #identificar pares e impares
  if i % 2 ==0:
    print(f"Numero par:{i}")
  else:
    print(f"Numero impar:{i}")

Numero impar:1
Numero par:2
Numero impar:3
Numero par:4
Numero impar:5
Numero par:6
Numero impar:7
Numero par:8
Numero impar:9
Numero par:10

In [ ]:
milista = [1,2,3,4,5,6,7,8,9,10]
contador_lista = 0
#suma acumulada de los elementos
for i in milista:
 contador_lista = contador_lista + i
 print(contador_lista)

1
3
6
10
15
21
28
36
45
55

In [ ]:
for i in "hola mundo":
 print(i, end="")

hola mundo

##Tuple unpacking

In [ ]:
mi_lista= [(1,"a"),(2,"b"),(3,"c"),(4,"d")]
print(mi_lista)

print(len(mi_lista))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
4

In [ ]:
for i in mi_lista:
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
#Desempaquetado de tuplas
for (a,b) in mi_lista:
  print(a)
  print(b)

1
a
2
b
3
c
4
d

## ciclos for en diccionarios

In [ ]:

d = {"y2":1, "y3":2, "y1":3}
#imprime solo las llaves
for i in d:
  print(i)

y2
y3
y1

In [ ]:
#imprime llave y valor
for i in d.items():
  print(i)

('y1', 1)
('y2', 2)
('y3', 3)

In [ ]:
#desempaquetado
for llave, valor in d.items():
    print(valor)

1
2
3

In [ ]:
#no es ordenado
d = {"y1":3, "y2":1, "y3":2}
for valor in d.values():
  print(valor)

3
1
2

# CICLOS WHILE

*   Continuan ejecutando un bloque **MIENTRAS(WHILE)** se cumpla una condicion

In [ ]:
#Sintaxis
while condicion_booleana:
  #hace algo
else:
  #algo diferente

In [ ]:
#Crea un contador
x = 0

while x < 5:
  print (f"El valor actual de x es :{x}")
  #incrementa un valor por cada elemento contado (x = x+1) == (x+=1)
  x +=1

El valor actual de x es :0
El valor actual de x es :1
El valor actual de x es :2
El valor actual de x es :3
El valor actual de x es :4

In [ ]:
#Crea un contador
x = 0

while x < 5:
  print (f"El valor actual de x es :{x}")
  x +=1
else:
  print("X no es mayor que 5")
  print(f"El valor actual de x es: {x}")

El valor actual de x es :0
El valor actual de x es :1
El valor actual de x es :2
El valor actual de x es :3
El valor actual de x es :4
X no es mayor que 5
El valor actual de x es: 5

In [ ]:
# Palabras clave para ciclos
# break , continue , pass

#PASS: continua a la siguiente linea de codigo cuando termina el ciclo
x= [1,2,3]
for i in x:
  pass
print('Fin del ciclo')

Fin del ciclo

In [ ]:
#CONTINUE : salta la condicion y continua la itearacion
x= "alejandra"
for i in x:
  if i =="a":
    continue
  print(i)

l
e
j
n
d
r

In [ ]:
#BREAK : rompe la cadena al cumplir la condicion
x= "alejandra"
for i in x:
  if i =="j":
    break
  print(i)

a
l
e

#operadores extra

In [ ]:
milista = [1,2,3]
for i in range(0,11,2): #range(inicio,final,pasos)
  print(i)

0
2
4
6
8
10

In [ ]:
#generar una lista de un rango
nueva_lista = list(range(0,11,2))
print(nueva_lista)

[0, 2, 4, 6, 8, 10]

In [ ]:
#contador para iterar a través de una futura lista
contador_indice = 0
palabra = 'hola'

for i in palabra:
  print(palabra[contador_indice])
  contador_indice +=1

h
o
l
a

In [ ]:
contador_indice = -1
palabra = 'hola'

for i in palabra:
  print(palabra[contador_indice])
  contador_indice -=1

a
l
o
h

In [ ]:
for item in enumerate(palabra):
  print(item)

(0, 'h')
(1, 'o')
(2, 'l')
(3, 'a')

In [ ]:
for indice,letra in enumerate(palabra):
  print(indice, end="")
  print(letra, end="")
  print("\n")

0h

1o

2l

3a

In [ ]:
#establecer una relacion clave:valor entre dos listas
lista1 = [1,2,3]
lista2 = ["a", "b", "c"]

for i in zip(lista1,lista2):#funcion que agrupa listas
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
print(type(zip(lista1,lista2)))

<class 'zip'>

In [ ]:
lista1 = [1,2,3,4,5,6,7]
lista2 = ["a", "b", "c"]
lista3 = [100,200,300]

listas_zip = zip(lista1, lista2, lista3)
print(listas_zip)

zip_a_lista = list(zip(lista1, lista2, lista3))
print(zip_a_lista)

<zip object at 0x7c818390f100>
[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [ ]:
lista1 = [1,2,3,4,5,6,7]
lista2 = ["a", "b", "c"]
lista3 = [100,200,300]

if "a" in lista2:
  print(True)

True

In [ ]:
#minimos y maximos de una lista
print(min(lista1))
print(max(lista1))

1
7

In [ ]:
#importa un paquete (shuffle) del modulo random para desordenar los valores de una lista
from random import shuffle
shuffle(lista1)
print(lista1)

[5, 1, 6, 2, 3, 4, 7]

In [ ]:
#Shuffle desordena los valores o los indices?
lista1 = [1,2,3,4,5,6,7]
print(f"mi lista inicial es: {lista1}")
print(f"El indice del numero 1 es: {lista1.index(1)}")
shuffle(lista1)
print(f"mi lista shuffled es: {lista1}")
print(f"El indice del numero 1 es: {lista1.index(1)}")
#reordena los valores asignadoles un nuevo indice
print(shuffle(lista1))

mi lista inicial es: [1, 2, 3, 4, 5, 6, 7]
El indice del numero 1 es: 0
mi lista shuffled es: [1, 7, 2, 4, 5, 3, 6]
El indice del numero 1 es: 0
None

In [ ]:
#numero random
from random import randint
randint(0,100)

76

In [ ]:
x = input("Escribe un número")
print(type(x))
#todo elemento ingresado en input es un string
x_a_numero = int(x)#cambia el valor ingresado a int
print(x_a_numero)
print(type(x_a_numero))

Escribe un número10
<class 'str'>
10
<class 'int'>

#COMPREHENSION DE LISTAS

1. Crear listas rapidamente, si encuentras un ciclo for con .append() para crear una lista, puedes usar comprehension en su lugar

In [ ]:
mi_cadena ="hola"
mi_lista =[]#nueva lista vacia

for i in mi_cadena:#por cada i(elemento de mi_cadena)
  mi_lista.append(i) #agrega a mi_lista cada valor i

print(mi_lista)

['h', 'o', 'l', 'a']

In [ ]:
mi_lista = [x**2 for x in range(0,11)]
print(mi_lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# CICLO FOR PARA CAMBIAR LA ESCALA Cº a Fº
celcius = [0,10,20,34.6]
fahrenheit =[]
for i in celcius:
  fahrenheit.append(((9/5)*i +32))
print(fahrenheit)

[32.0, 50.0, 68.0, 94.28]

In [ ]:
#ejemplo: conversion rapida de Cº a Fº
celcius = [0,10,20,34.6]
fahrenheit = [((9/5)*i +32) for i in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.28]

#METODOS PYTHON
[Dcomentacion python](https://docs.python.org/es/3/contents.html)

#FUNCIONES

In [ ]:
#Sintaxis
def nombre_de_funcion(input):
  #Ejecutar este codigo
  return #nos permite asignar un output a la funcion

In [ ]:
#funcion de suma
def suma(num1, num2):
  return num1 + num2

In [ ]:
#ejemplo

def decir_hola(nombre,apellido):
  print(f"hola, {nombre} {apellido}")

decir_hola("Alejandro", "Rojas")

hola, Alejandro Rojas

In [ ]:
#revisar numero par en lista

def es_numero_par(lista):
  for i in lista:
    if i % 2 == 0:
      return True
    else:
      pass
  return False


es_numero_par([1,3,5])

False

## Argumentos de las funciones : ARGS y KWARGS


1.   Arguments y Keyword Arguments (Argumentos y argumentos clave)

*   Son palabras Clave que se usan dentro de una funcion para recoger un valor

In [ ]:
def func(a,b):#a,b son keywords argumentos posicionales, por que se encuentran en la posicion 0 y 1
  #retornar la suma de a y b
  return sum(a,b)

In [ ]:
# prompt: crea una funcion que devuelva el 5% de la suma de dos elementos a y b y numero de porcentaje

def calculate_percentage(a, b, percentage):
  sum = a + b
  return (sum * percentage) / 100

calculate_percentage(45, 32.2, 10)#parametros posicionales (se asignan direcamente a la funcion)

7.72

In [ ]:
 #funcion sin limite de arguementos *args
def func (*args):#los *args son una tupla (lista de elementos inmutables)
  return print(sum(args) * 0.05)

func(20,10,63,52,84,654,32)

45.75

In [ ]:
#**args
def func(**kwargs): #los **args son un diccionario (pares valor iterables)
  if 'fruta' in kwargs:#toma el strin "fruta" como llave del diccionario para buscar ese valor
  #como puedo hacer que evalue cualquier valor y no solo una llave asignada?
    print(f"mi fruta escogida es {kwargs['fruta']}")
  else:
    print(f"no hay fruta, pero hay {kwargs['almuerzo']}")

#no entiendo por que usa un string para el IF

In [ ]:
func(bebida='gaseosa', vegetal ="lechuga", almuerzo ="sopa")

no hay fruta, pero hay sopa

In [ ]:
# *args y **kwargs juntos

def func (*args, **kwargs):
  print(args)
  print(kwargs)
  print(f"Me gustaria {args[0]}, {kwargs['comida']}")

func(10,20,30, fruta="naranja", comida ="pan", animal="perro")

(10, 20, 30)
{'fruta': 'naranja', 'comida': 'pan', 'animal': 'perro'}
Me gustaria 10, pan

#EXPRESIONES LAMBDA, MAPAS Y FILTROS

##mapas

In [ ]:
#funcion mapa
#util cuando quieres llenar una funcion con una lista , tuplas o diccionarios) de datos

numeros= [1,2,3,4,5]
#funcion que devuelve la potencia al cuadrado del input
def square(num):
  resultado =num**2
  return resultado

#como pasar los numeros de la lista "numeros" a la funcion square
for i in map(square, numeros):
  print (i)

1
4
9
16
25

In [ ]:
#cual es el tipo de map?
print (type(map(square, numeros)))

<class 'map'>

In [ ]:
#obtener el resultado en una lista
print (list(map(square, numeros)))

[1, 4, 9, 16, 25]

In [ ]:
#comprehension de lista en vez de map
lista_al_cuadrado = [square(x) for x in numeros]
print(lista_al_cuadrado)

[1, 4, 9, 16, 25]

## Filtros

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9]

def es_par(num):
  return num%2==0

for i in filter(es_par,numeros):
  print(i)

2
4
6
8

In [ ]:
numeros_pares = [es_par(i) for i in numeros]
print(numeros_pares)
#Como puedo obtener solo los valores pares en una lista?

[False, True, False, True, False, True, False, True, False]

##LAMBDA

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9]
# lambda variable: funcion(que se retorna a si misma?)
al_cuadrado = lambda num: num**2

print(al_cuadrado(5))
#lambda con map
print(list(map(lambda num: num ** 2, numeros)))

25
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#lambbda con filter
numeros= [1,2,3,4,5,6,7,8,9]
print(list(filter(lambda num: num %2==0, numeros)))

[2, 4, 6, 8]

#Funciones anidadas

In [ ]:
name = "variable global"#las variables fuera de la funcion son globales(pueden usarse en cualquier funcion)
def saludo():
  #enclosing variable , se encuentra entre dos funciones anidadas
  name = "alejandro josephat"

  def hola():
    #local
    name = "variable local"
    print(f"hola {name}")

  hola()


saludo()

hola variable local

In [ ]:
#asignar variables3
x=50

def func():
  print(f'x es {x}')

func()

x es 50

In [ ]:
#reasignacion local
x=50

def func(x):
  #reasignar variable
  x=200
  print(f'x fue cambiadad localmente a {x}')

func(x)

x fue cambiadad localmente a 200

In [ ]:
#re asignar variable global
x=50

def func():
  #elegir la variable global
  global x
  print(f"x es {x}")
  x="Nuevo valor"
  print(f'x fue cambiadad localmente a {x}')

func()
print(f"el nuevo valor global de x es: {x}")

x es 50
x fue cambiadad localmente a Nuevo valor
el nuevo valor global de x es: Nuevo valor

#Programacion orientada a objetos

La programación orientada a objetos (POO) en Python es un paradigma de programación que utiliza objetos para representar entidades del mundo real.

Cada objeto tiene atributos (datos o caracteristicas) y métodos (funciones acciones) que operan sobre esos datos.

Los objetos se organizan en clases, que definen la estructura y el comportamiento de los objetos.

La POO en Python se basa en los siguientes principios:

*   Encapsulamiento: Los datos y los métodos de un objeto están encapsulados dentro
del objeto, lo que significa que solo se puede acceder a ellos desde dentro del objeto.
*   Herencia: Las clases pueden heredar de otras clases, lo que significa que pueden reutilizar el código y los datos de las clases principales.
*   Polimorfismo: Los objetos de diferentes clases pueden responder a los mismos mensajes de diferentes maneras.

In [ ]:
#sintaxis
class NombreDeClase():
  def __init__(self,param1,param2):#crear funcion init, que inicia todos los parametros de la clase
    self.param1 = param1
    self.param2 = param2

  def otraFuncion(self):
    #accion
    print(self.param1)

In [ ]:
class Perro():

  def __init__(self,raza,nombre,puntos):

    #atributos
    self.raza = raza
    self.nombre = nombre
    #esperamos un valor booleano V/F
    self.puntos = puntos

huskie = Perro(raza="Huskie",nombre="Jake",puntos=False)

In [ ]:
#llamando los atributos del objeto
huskie.nombre
huskie.raza
huskie.puntos

False

##Polimorfismo

*   El polimorfismo en Python es la capacidad de que diferentes objetos respondan al mismo mensaje de diferentes maneras. Esto se logra mediante el uso de métodos con el mismo nombre pero con diferentes implementaciones en diferentes clases.

In [ ]:
#ejemplo
#La clase animal tiene el metodo hablar con pass
class Animal:
  def hablar(self):
    pass

#se 'hereda' el atributo de la clase animal mediante:
#class ClaseHija(ClasePadre1, ClasePadre2, ..., ClasePadreN):

class Perro(Animal):
  def hablar(self):
    print("Guau!")

class Gato(Animal):
  def hablar(self):
    print("Miau!")

In [ ]:
class Animal():

  def __init__(self):
    print("animal creado")

  def quien_soy(self):
    print("soy un animal")

  def comer(self):
    print("estoy comiendo")


class Perro(Animal):

  def __init__(self):
    Animal.__init__(self)
    print("perro creado")

  def quien_soy(self):
    print("soy un perro")

In [ ]:
miPerro = Perro()
miPerro.quien_soy()

animal creado
perro creado
soy un perro

In [ ]:
#crear modulo y probar try
try:
  from classes import Animal, Perro # classes en otro archivo .py
except :
  print("bye bye")

bye bye

## POO**2

### Classes e instancias
Crear clases, instanciarlas(crear el objeto) y asignar instance variables (variables propias de cada instancia) al objeto *creado*

#### Que es una instancia y como se crea

In [ ]:
#crear una clase que "instancie" a un objeto empleado
class Employee: #clase sin metodos ni atributos
  pass
#se instancian dos objetos empleado nuevos, emp1 y emp2
emp_1 = Employee()
emp_2 = Employee()

print(emp_1)
print(emp_2)

#Las variables de cada instancia  contienen datos vinculados a esa instancia
emp_1.first ="Ale"
emp_1.last  ="Rojas"
emp_1.email  ="a.en51@gmail.com"
emp_1.pay  = 50000

emp_2.first ="Josephat"
emp_2.last  ="nuñez"
emp_2.email  ="josephat.en51@gmail.com"
emp_2.pay  = 55000

print(emp_1.email)
print(emp_2.pay)

#Repetir este proceso para cada empleado es ineficiente
#Por lo que usaremos el metodo __init__ que permite inicializar(permitir asignar) variables
#de la clase para los nuevos objetos creados.

<__main__.Employee object at 0x7ad9d69f5060>
<__main__.Employee object at 0x7ad9d69f4a90>
a.en51@gmail.com
55000

In [ ]:
class Empleado:
  #__init__ me permite inicializar la instancia, la cual recibe self como parametro
  #para identificar la instancia donde se asignaran las variables
  #self es la misma instancia que se usara para inicializar los atributos
  #es decir, hará referencia a la misma instancia donde se ejecute el metodo, dichos pasos
  #sucederan cuando se instancie un nuevo objeto de clase.
  def __init__(self,first,last,pay):
    #asignamos el valor del argumento a la variable de instancia SELF
    self.first = first #self(la instancia).primer(nombramos al atributo para llamarlo)
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000)
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000)

print(emp_1.first)
print(emp_2.first)

Ale
Josephat

####Como se agregan los metodos a una clase

ahora que tenemos objetos con atributos, queremos añadir acciones al objeto
eso se hace creado funciones que realicen una accion dentro de la clase

In [ ]:
#podemos crear una funcion que ejecute una accion fuera de la clase
#accion de presentarse
print(f"Hola mi nombre es: {emp_1.first} {emp_1.last}")
#por eficiencia queremos que el objeto de la clase pueda ejecutar la accion de manera inherente
#por lo que la crearemos dentro de la clase

Hola mi nombre es: Ale Rojas

In [ ]:
class Empleado:

  def __init__(self,first,last,pay):
    #asignamos el valor del argumento a la variable de instancia SELF
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"


  def presentarse(self):#
    return f"Hola mi nombre es: {self.first} {self.last}"

emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000)
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000)
#ahora la instancia puede realizar una accion haciendo uso del metodo de la clase
emp_2.presentarse()

str

### Variables de Clase (class variables)
Son clases que se comparten entre todas las instancias de la clase

In [ ]:
#asignaremos un nuevo metodo, que nos permite otorgar aumentos salariales a los empleados
class Empleado:

  def __init__(self,first,last,pay):
    #asignamos el valor del argumento a la variable de instancia SELF
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"


  def presentarse(self):#
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * 1.04)

emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000)
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000)
#vemos el pago, aplicamos el aumento y comparamos el resultado
print(emp_1.pay)
emp_1.aumentar_salario()
print(emp_1.pay)

12000
12480

A pesar de que funciona, se encuentra limitado, ya que no se puede actualizar ni modificar facilmente

In [ ]:
#podriamos tener un atributo como
emp_1.monto_aumentado
#o un atributo aplicado a toda la clase
Employee.monto_aumentado
#que tendriamos que hacer para actualizar el % de aumento facilmente?

In [ ]:
#por lo que podemos crear una variable a nivel de clase para ello
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"


  def presentarse(self):#
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)
#cuando accedemos a una variable de clase
# podemos hacerlo atraves de la instancia(self.monto_aumentado)
# o de la clase con Empleado.monto_aumentado
emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000)
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000)

print(emp_1.pay)
emp_1.aumentar_salario()
print(emp_1.pay)

12000
12480

In [ ]:
#que pasa si cambio el valor del monto aumentado?

print(Empleado.monto_aumentado)#a través de la clase
print(emp_1.monto_aumentado)#a través de las instancias, acceden al atributo de la clase y lo hereadan de la clase
print(emp_2.monto_aumentado)

1.04
1.04
1.04

In [ ]:
#accedemos a ver la clave valor de los atributos con __dict__
#donde no existe el atributo monto_aumentado
print(emp_1.__dict__)
#a diferencia de la clase
#salvo que la clase si tiene el atributo monto_aumentado, al cual se accede desde la instancia
print(Empleado.__dict__)

{'first': 'Ale', 'last': 'Rojas', 'pay': 12480, 'email': 'Ale.Rojas@company.com'}
{'__module__': '__main__', 'monto_aumentado': 1.04, '__init__': <function Empleado.__init__ at 0x7ad9d681f760>, 'presentarse': <function Empleado.presentarse at 0x7ad9d681e5f0>, 'aumentar_salario': <function Empleado.aumentar_salario at 0x7ad9d681e4d0>, '__dict__': <attribute '__dict__' of 'Empleado' objects>, '__weakref__': <attribute '__weakref__' of 'Empleado' objects>, '__doc__': None}

In [ ]:
#cambiamos el valor del atributo de clase monto_aumentado
print(emp_1.monto_aumentado)
Empleado.monto_aumentado = 1.05
#comprobamos los valores
print(Empleado.monto_aumentado)
print(emp_1.monto_aumentado)
print(emp_2.monto_aumentado)
#esto es logico, por que al cambiar el atributo de la clase, las instancias acceden a este valor modificado

1.04
1.05
1.05
1.05

In [ ]:
#si cambiamos el valor del monto_aumentado usando la instancia es diferente
print(emp_1.monto_aumentado)
emp_1.monto_aumentado = 1.06#copia/duplica el atributo(?) a la instancia y le asigna un nuevo valor
print(emp_1.__dict__)#ahora si cuenta con el atributo monto_aumentado
print(Empleado.monto_aumentado)
print(emp_1.monto_aumentado)
print(emp_2.monto_aumentado)
print(emp_2.__dict__)#vemos que emp2 no cuenta con el atributo a diferencia de emp1

## Todo esto sucede por que la instancia busca sus variables dentro de la instancia
## si no las encuentra, las buscara en la clase
## y posteriormente al resto de clases heredadas en orden de imputacion

1.06
{'first': 'Ale', 'last': 'Rojas', 'pay': 12480, 'email': 'Ale.Rojas@company.com', 'monto_aumentado': 1.06}
1.05
1.06
1.05
{'first': 'Josephat', 'last': 'nuñez', 'pay': 55000, 'email': 'Josephat.nuñez@company.com'}

In [ ]:
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"


  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    #declarar self.monto_aumentado nos da la habilidad de tomar el valor de la clase y poder
    # modificarlo y guardarlo para la instancia si es necesario
    self.pay = int(self.pay * self.monto_aumentado)

In [ ]:
print(emp_1.pay)
emp_1.aumentar_salario()
print(emp_1.pay)

12480
13228

In [ ]:
#creamos una nueva variable de clase para almacenar el numero de objetos instanciados3
class Empleado:

  #nuevo atributo de clase
  num_empleados = 0
  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"
    #agrego el contador en __init__ para que se ejecute cada vez que se instancia la clase
    Empleado.num_empleados += 1

  def presentarse(self):#
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)

emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000) # contador incrementa a 1
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000) # contador incrementa a 2

print(Empleado.num_empleados) #imprimira 2

2

### TIPOS DE METODOS EN UNA CLASE



1.   Metodos de clase
2.   Static
2.   Otro

#### Metodos de clase
Metodos que se encuentran creados dentro de la clase, a la cual se puede acceder o no(?) mediante las instancias

In [ ]:
#reminder: variables de clase son aquellas que se comparten entre todas las instancias de la clase

#Caso especifico: nos solicitan poder ingresar nuevos empleados haciendo uso de un string
#que tiene el formato nombre-apellido-salario , ej Ale-Rojas-10025

emp_str_1= "Ale-Rojas-10025" #input de nuevo empleado
#usamos el metodo split para dividir el str y lo asignamos a variables
first, last, pay = emp_str_1.split('-')
#creamos un nuevo objeto de clase Empleado usando las variables devueltas
nuevo_emp_1 = Empleado(first, last, pay)
print(nuevo_emp_1)
print(nuevo_emp_1.__dict__)
#se creo el nuevo empleado, pero necesitamos ejecutar esto dentro de una metodo
# que se pueda reutilizar, el cual sera el metodo de clase

<__main__.Empleado object at 0x7ad9c8d54820>
{'first': 'Ale', 'last': 'Rojas', 'pay': '10025', 'email': 'Ale.Rojas@company.com'}

In [ ]:
#creamos el metodo de clase, agregando un decorador @classmethod antes de la funcion
# y asignando el atributo cls(por convencion class) en vez de self
class Empleado:

  num_empleados = 0
  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

    Empleado.num_empleados += 1

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)
  #1. Como crear un metodo de clase
  @classmethod
  def set_monto_aumentado(cls, amount):
    cls.monto_aumentado = amount
  #2. ahora creamos un constructor alternativo que nos permita ingresar los valores
  #con guiones como propone el ejemplo
  @classmethod
  def from_string(cls,emp_str):
    first, last, pay = emp_str.split('-')
    #retornamos el objetvo de clase usando las variables obtenidas como atributos
    return cls(first, last, pay)

emp_1 = Empleado(first="Ale", last = "Rojas", pay = 12000)
emp_2 = Empleado(first="Josephat", last = "nuñez", pay = 55000)

print(Empleado.monto_aumentado)
print(emp_1.monto_aumentado)
print(emp_2.monto_aumentado)
# 1. usando el metodo de clase
Empleado.set_monto_aumentado(1.05)

print(Empleado.monto_aumentado)
print(emp_1.monto_aumentado)
print(emp_2.monto_aumentado)

#2. Usamos el constructor alternativo para tomar el objeto de clase retornado
# y asignarlo a una nueva variable
emp_str_1= "Ale-Rojas-10025"

nuevo_emp_1 = Empleado.from_string(emp_str_1)
print(nuevo_emp_1.pay)

1.04
1.04
1.04
1.05
1.05
1.05
10025

#### Static methods
Son metodos identicos a una funcion regular a las que no se les referencia ninguna argumento, como self o cls, pero se mantienen dentro de la clase por que guardan una relacion logica con esta

In [ ]:
#Queremos añadir una funcion simple que reciba una fecha y retorne si es o no un dia laborable
#esta funcion tienene una conexion logica con la clase Empleado
#pero no depende de ninguna instancia o variable de clase
class Empleado:

  num_empleados = 0
  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

    Empleado.num_empleados += 1

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)

  @classmethod
  def set_monto_aumentado(cls, amount):
    cls.monto_aumentado = amount

  @classmethod
  def from_string(cls,emp_str):
    first, last, pay = emp_str.split('-')
    return cls(first, last, pay)

  #haremos un metodo statico para la funcion requerida
  @staticmethod
  def dia_lab(day):
    if day.weekday() == 5 or day.weekday() == 6:
      return False
    return True

emp_1 = Empleado("Ale", "Rojas",12000)
emp_2 = Empleado("Josephat", "nuñez", 55000)

import datetime
mi_fecha = datetime.date(2024,4,5)
print(mi_fecha)
print(Empleado.dia_lab(mi_fecha))

2024-04-05
True

### Inheritance - Creating Subclasses

Heredar todas las funcionalidades de una clase en otra

In [ ]:
#Creamos una sub clase (dev) que heredara de la clase Empleado
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)
#se añaden parentesis a la clase y se añade la clase padre
class Developer(Empleado):
  pass
#Se crean objetos Developer, y este hereda sus funciones y metodos
dev_1 = Developer("Ale", "Rojas",12000)
dev_2 = Developer("Josephat", "nuñez", 55000)
#podemos hacer uso de todas las funcionalidades de la clase padre
print(dev_1.email)
print(dev_1.first)
print(dev_1.pay)
dev_1.aumentar_salario()
print(dev_1.pay)

Ale.Rojas@company.com
Ale
12000
12480

In [ ]:
#method resolution order es la jerarquia para la herencia
help(Developer)

Help on class Developer in module __main__:

class Developer(Empleado)
 |  Developer(first, last, pay)
 |
 |  Method resolution order:
 |      Developer
 |      Empleado
 |      builtins.object
 |
 |  Methods inherited from Empleado:
 |
 |  __init__(self, first, last, pay)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  aumentar_salario(self)
 |
 |  presentarse(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Empleado:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from Empleado:
 |
 |  monto_aumentado = 1.04

In [ ]:
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)

#si queremos añadir un atributo unico de la clase developer (lenguaje de programacion)
class Developer(Empleado):
  #para que pueda modificarse a si misma necesita iniciarse, por lo que llamamos __init__
  #tendriamos que referenciar cada atributo de la clase nuevamente
  #lo cual es repetitivo, por lo que se necesita usar la herencia aqui tambien
  def __init__(self,first,last,pay, prog_lang):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"
    prog_lang = "Pyrhon"

dev_1 = Developer("Ale", "Rojas",12000)
dev_2 = Developer("Josephat", "nuñez", 55000)

print(dev_1.email)
print(dev_1.first)

In [ ]:
#agregar atributos nuevos a una subclase con herencia
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)

class Developer(Empleado):
    #iniciamos la clase Developer con __init__ para poder asignarle su atributo unico
    #ahora que esta iniciada es necesario decirle que otros atributos necesitamos
  def __init__(self,first,last,pay, prog_lang):
    #iniciamos a la clase padre y heredamos sus atributos
    super().__init__(first,last,pay)#super llama a la clase padre inmediata
  # Employee.__init__(self,first,last,pay) podria usarse cuando se heredan varias clases y hay que seleccionar una
    self.prog_lang = prog_lang

#ahora se puede crear un objeto developer y asignar atributos de la clase Employee y la clase Developer
dev_1 = Developer("Ale", "Rojas",12000,"Python")
dev_2 = Developer("Josephat", "nuñez", 55000,"java")

print(dev_1.email)
print(dev_1.prog_lang)

Ale.Rojas@company.com
Python

In [ ]:
#Creamos una nueva subclase Manager
#Requerimientos: El manager tiene un numero x de personas a cargo
class Empleado:

  monto_aumentado = 1.04

  def __init__(self,first,last,pay):

    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + "." + last + "@company.com"

  def presentarse(self):
    return f"Hola mi nombre es: {self.first} {self.last}"

  def aumentar_salario(self):
    self.pay = int(self.pay * self.monto_aumentado)

class Developer(Empleado):
  def __init__(self,first,last,pay, prog_lang):
    super().__init__(first,last,pay)
    self.prog_lang = prog_lang

class Manager(Empleado):

  def __init__(self,first,last,pay, a_cargo = None):
    super().__init__(first,last,pay)
    if a_cargo is None :#si no se ingresa el parametro a_cargo sera una lista vacia
      self.a_cargo = []
    else:#si se ingresa un parametro a_cargo, se le asignara ese valor al atributo
      self.a_cargo = a_cargo

  #agregamos funciones que añadan , borren e impriman todos los nombres a_cargo del manager
  def agregar_emp(self,emp):
    if emp not in self.a_cargo:
      self.a_cargo.append(emp)

  def borrar_emp(self,emp):
    if emp in self.a_cargo:
      self.a_cargo.remove(emp)
#Por que al iterar sobre los valores de a_cargo, no puedo hacer uso de la funcion presentarse heredada de empelado??
  def presentacion_todos(self):
    for i in self.a_cargo:
      print(i.presentarse())

#creamos un manager sin personas a cargo y agregamos una nueva
mgr_1 = Manager("Alex", "Red", 120000)
mgr_1.a_cargo

print(mgr_1.a_cargo)

mgr_1.agregar_emp("Manuel")

print(mgr_1.a_cargo)
##creamos un manager con personas a cargo y agregamos una nueva
mgr_2 = Manager("Alex", "Red", 120000, ["Jos"])#el parametro a_cargo recibe Any
#por lo que es necesario asignarle una lista, caso contrario no se puede hacer append
mgr_2.a_cargo

print(mgr_2.a_cargo)

mgr_2.agregar_emp("Vale")

print(mgr_2.a_cargo)
mgr_2.presentacion_todos()

[]
['Manuel']
['Jos']
['Jos', 'Vale']

AttributeError: 'str' object has no attribute 'presentarse'

# Bootcamp

In [ ]:
# prompt: Enunciado: Tienes una lista de números del 1 al 10. Tu tarea es:
# - Añadir el número 11 al final de la lista.
# - Eliminar el número 5 de la lista.
# - Acceder al primer y último elemento de la lista y guardarlos en variables.
# - Crear una nueva lista que contenga los elementos del índice 2 al índice 5 de la lista original.
# - Imprimir todas las listas y variables que has creado.

# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Add the number 11 to the end of the list
numbers.append(11)

# Remove the number 5 from the list
numbers.remove(5)

# Access the first and last elements of the list and store them in variables
first_element = numbers[0]
last_element = numbers[-1]

# Create a new list containing the elements from index 2 to index 5 of the original list
new_list = numbers[2:6]

# Print all the lists and variables
print("Original list:", numbers)
print("First element:", first_element)
print("Last element:", last_element)
print("New list:", new_list)

In [ ]:
#crear una lista
numeros = list(range(1,11))
print(numeros)
#elimina el numero 5
numeros.remove(5)
print(numeros)
#Acceder al primer y último elemento de la lista y guardarlos en variables.
primer_numero = numeros[0]
ultimo_numero = numeros[-1]
print(primer_numero)
print(ultimo_numero)
#Crear una nueva lista que contenga los elementos del índice 2 al índice 5 de la lista original.
nueva_lista = numeros[2:6]
print(nueva_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 6, 7, 8, 9, 10]
1
10
[3, 4, 6, 7]

In [ ]:
# prompt: Tienes una publa con los dias de la semana.
# Accede y guardar en una variable el primer dia y el ultimo dia de la semana en la tupla, crea una nueva tupla que contenga solo los dias laborables, cuenta cuentos dias laborables hay en la nueva tupla, imprime todas las tuplas y variables que has creado

# Crear una tupla con los días de la semana
dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

# Acceder al primer y último día de la semana y guardarlos en variables
primer_dia = dias_semana[0]
ultimo_dia = dias_semana[-1]

# Crear una nueva tupla que contenga solo los días laborables
dias_laborables = dias_semana[:5]

# Contar cuántos días laborables hay en la nueva tupla
num_dias_laborables = len(dias_laborables)

# Imprimir todas las tuplas y variables que has creado
print("Tupla original:", dias_semana)
print("Primer día:", primer_dia)
print("Último día:", ultimo_dia)
print("Tupla de días laborables:", dias_laborables)
print("Número de días laborables:", num_dias_laborables)

In [ ]:
#Crea una tupla
dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
print(dias_semana)
# accede al primer y ultima dia y asignalos a una variable
primer_dia = dias_semana[0]
ultimo_dia = dias_semana[-1]
print(primer_dia)
print(ultimo_dia)
#crear una nueva tupla que solo tenga los dias laborables
nueva_tupla = dias_semana[:5]
print(nueva_tupla)
#contar cuantos dias laborables hay en la nueva tupla
num_dias_laborables = len(dias_laborables)
print(num_dias_laborables)

('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo')
Lunes
Domingo
('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes')
5